#define WIFI_AP_SSID "WifiSSID"
#define WIFI_AP_PASS "WifiPassword"

#define MQTT_SERVER_IP "192.168.178.12"

#define MQTT_CLIENT_USER "MQTTWhatever"
#define MQTT_CLIENT_PASS "SecretPass"

#define MQTT_CLIENT_ID "ClientIdentifier"

#define MQTT_CHANNEL "ClientChannel"